<u-chart-shell
    :data="data"
    :title="title"
    :caption="caption"
    :series="series"
    :border="border"
    :legend="legend"
    :width="width"
    :height="height"
    :titleAlign="titleAlign"
    :loading="loading"
    :contentStyle="contentStyle">
    <template v-slot:default="{ canvaswrapper }">
        <vego-canvas
        :width="canvaswrapper.canvasWidth"
        :height="canvaswrapper.canvasHeight"
        @domMousemove="hover">
                <u-hv-axis
                    :mouse="mouse"
                    :x-series="xAxisSeries"
                    :y-series="yAxisSeries"
                    :data-y-tag="'Unemployment'"
                    :data-x-tag="'Date'"
                    :space-x-range="canvaswrapper.spaceXRange"
                    :space-y-range="canvaswrapper.spaceYRange">
                    <template v-slot:default="{ graphData }">
                        <u-stack-shape
                            v-if="graphData.fx"
                            v-for="(s, i) in graphData.xSeries"
                            :y-series="graphData.ySeries.map((s) => s[i])"
                            :index="i"
                            :key="s"
                            :vego-geometry="{
                                x: graphData.fx(s),
                                y: canvaswrapper.spaceYRange[0]
                            }""
                        >
                            <template v-slot:default="{ shapeData }">
                                <u-rect-shape
                                    v-if="shapeData.ySeries"
                                    v-for="(t, j) in shapeData.ySeries"
                                    :index="j"
                                    :fy="graphData.fy"
                                    :y0-data="shapeData.ySeries[j-1] || 0"
                                    :y1-data="t"
                                    :y-bottom="canvaswrapper.spaceYRange[0]"
                                    :span="20"
                                >
                                </u-rect-shape>
                            </template>

                        </u-stack-shape>
                    </template>
                    <!-- <template v-slot:indicator="{ focusData }">
                        <u-line-indicator
                            v-if="focusData"
                            :vego-geometry="{
                                x: focusData.xSpace,
                            }""
                            :y-start="canvaswrapper.spaceYRange[1]"
                            :h="focusData.ySpace"
                            :height="canvaswrapper.spaceYSpan"
                        >
                        </u-line-indicator>
                    </template> -->
                </u-hv-axis>
        </vego-canvas>
    </template>
</u-chart-shell>
