<vego-canvas
    :width="canvasWidth"
    :height="canvasHeight"
    @domMousemove="hover">
    <template v-if="series">
        <u-chart-axis
            :mouse="mouse"
            :series="series"
            :columns="columns"
            :data-y-tag="'Unemployment'"
            :data-x-tag="'Date'"
            :data-x-range="dataXRange"
            :space-x-range="spaceXRange"
            :data-y-range="dataYRange"
            :space-y-range="spaceYRange">
        </u-chart-axis>
    </template>
</vego-canvas>
