$m-chart_padding: 15px;
$m-chart_tt_height: 40px;
$m-chart_legend_height: 20px;
.root {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
}

.content {
    position: absolute;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    bottom: $m-chart_padding;
}
.contentcanvas{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
}

.ittitle ~ .content {
    top: 65px;
}

.caption ~ .content {
    top: 65px;
}

.legend ~ .content {
    bottom: 45px;
}

.root[empty] .content {
    display: none;
}

.legend {
    position: absolute;
    bottom: $m-chart_padding;
    height: $m-chart_legend_height;
    line-height: $m-chart_legend_height;
    left: $m-chart_padding;
    right: $m-chart_padding;
    font-size: 12px;
    text-align: center;
}

.legend[role="multiline"] {
    line-height: 16px;
}

.root[empty] .legend {
    display: none;
}

.root[empty] .legend[always] {
    display: block;
}



.ittitle {
    position: absolute;
    z-index: 95;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    height: $m-chart_tt_height;
    line-height: $m-chart_tt_height;
    font-size: 16px;
}

/* .caption {
    position: absolute;
    top: calc($m-chart_padding + $m-chart_tt_height);
    left: $m-chart_padding;
    right: $m-chart_padding;
    text-align: center;
} */

.item {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin-right: 2em;
    vertical-align: middle;
}

.item[role="omitwidth"] {
    max-width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item > .dot{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    vertical-align: text-bottom;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.item[disabled] {
    color: #ccc;
}

.item[disabled]::before {
    background: #ccc;
}

.root[border] {
    border: 1px solid #eee;
}

.loadingLabel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 90;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.operate {
    position: relative;
    z-index: 100;
}
.infoborad{
    position: absolute;
    top: 0;
    right: auto!important;
    bottom: auto!important;
}

.popper {
    z-index: $z-index-tooltip;
}
.label {
    position: absolute;
    font-size: 12px;
    z-index: 10;
}

.label[role="label-xName"] {
    right: 0;
    bottom: 0;
}

.label[role="label-yName"] {
    left: 10px;
    top: -10px;
    text-align: center;
}


.label-xName {
    right: -50px;
    top: 6px;
    bottom: 0;
}

.label-yName {
    right: 10px;
    top: -30px;
    text-align: right;
}

.layer .elsvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.u-tooltip {
    border-radius: 2px;
    position: absolute;
    text-align: initial;
    white-space: nowrap;
    line-height: 20px;
    padding: 17px 20px;
    font-size: 12px;
    background: rgba(71,88,107,0.9);
    color: white;
    margin-top: -16px;
    box-sizing: border-box;
}
.u-tooltip::after {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid rgba(71,88,107,0.9);
}

.u-tooltip[role="u-tooltip-right-top"] {
    margin-left: 8px;
}

.u-tooltip[role="u-tooltip-right-top"]::after {
    top: 10px;
    left: -5px;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.u-tooltip[role="u-tooltip-right-bottom"] {
    margin-left: 8px;
}

.u-tooltip[role="u-tooltip-right-bottom"]::after {
    top: 10px;
    left: -5px;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.u-tooltip[role="u-tooltip-left-top"] {
    margin-right: 10px;
    right: 100%;
}

.u-tooltip[role="u-tooltip-left-top"]::after {
    top: 10px;
    right: -5px;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.u-tooltip[role="u-tooltip-left-bottom"] {
    margin-right: 10px;
    right: 100%;
}

.u-tooltip[role="u-tooltip-left-bottom"]::after {
    top: 10px;
    right: -5px;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}